<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Josué</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div>
        <h1>Josué</h1><br/>
            <form>
                <button class="btn-default" ng-click="doLogin()">LOGIN</button>&nbsp;&nbsp;
                <button ng-click="doLogout()">LOGOUT</button>&nbsp;&nbsp;
                <button ng-click="viewNotifications()">Notificações</button><br><br>
            </form>
                <br/><h4>Criar dívida</h4><br/>
            <form>
                Descrição:  <input type="text" class="form-control" ng-model="descricao"><br><br>
                Valor:      <input type="text" class="form-control" ng-model="valor"><br><br>
                Devedor:    <input type="text" class="form-control" ng-model="devedorId"><br><br>
                Credor:     <input type="text" class="form-control" ng-model="credorId"><br><br>
                <button ng-click="acessar()">ACESSAR</button> &nbsp;
                <button ng-click="inserir()">INSERIR</button> &nbsp;
            </form>
            <br><br><spam>Mensagem: {{mensagem}}<br><br></spam>
        </div>
    <br><br>
    <div>
        <h3>Lista de dívidas</h3><br>
        
        <table class="table" cellspacing="8">
            <tr> 
                <th>{{hdescricao}}</th>
                <th>{{hvalor}}</th>
                <th>{{hdevedorId}}</th>
                <th>{{hcredorId}}</th>
                <th>{{hoption}}</th>
            </tr>
            <tr ng-repeat="debt in debts">
                <td>{{debt.descricao}}</td>
                <td>{{debt.valor}}</td>
                <td>{{debt.devedorId}}</td>
                <td>{{debt.credorId}}</td>
                <td>
                    <button ng-click="atualizar(debt._id)">EDITAR</button> &nbsp;
                    <button ng-click="remover(debt._id)">REMOVER</button> &nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {

        // LOGIN 
        $scope.doLogin = function() {
            window.open("/authentication", "_blank");
        }

        // LOGOUT
        $scope.doLogout = function() {
            $scope.clear();
            var request = $http({
                "method": "delete",
                "url": "/authentication"
            });

            request.success(function(reply) {
                $scope.mensagem = reply.resultado;
            });
        }

        //ACESSO
        $scope.acessar = function() {
            var url = "/debts";
            if ($scope.id != undefined) {
                url = "/debts/"+ $scope.id;
            }
            var request = $http({
                "method": "get",
                "url": url
            });
            request.then(function successCallback(reply) {
                if (reply.data.debts != null) {
                    $scope.hdescricao = "Descrição";
                    $scope.hvalor = "Valor";
                    $scope.hdevedorId = "Devedor";
                    $scope.hcredorId = "Credor";
                    $scope.hoption = "Opções";
                    $scope.mensagem = "";
                    $scope.debts = reply.data.debts
                } else {
                    $scope.clear();
                    $scope.mensagem = reply.data.result
                }
            });
            request.then(function errorCallback(reply) {
                alert("Request Error");
            });
        };

        // INSERÇÃO
        $scope.inserir = function() {
            $scope.clear();
            if ($scope.descricao == undefined || $scope.descricao.length == 0 ||
                $scope.valor == undefined || $scope.valor.length == 0 ||
                $scope.devedorId == undefined || $scope.devedorId.length == 0 ||
                $scope.credorId == undefined || $scope.credorId.length == 0) {

                $scope.clear();
                $scope.mensagem = "Preencha todos os campos acima.";
                return;        
            }

            var data = {
                "descricao": $scope.descricao,
                "valor": $scope.valor,
                "devedorId": $scope.devedorId,
                "credorId": $scope.credorId
            };

            var request = $http({
                "method": "post",
                "url": "/debts",
                "data": data
            });

            request.then(function successCallback(reply) {
                $scope.mensagem = reply.data.result;
            });

            request(function errorCallback(reply) {
                alert("Request Error");
            });
        }

        // ATUALIZAÇÃO
        $scope.atualizar = function(id) {
            console.log(id);
            $scope.clear();
            if (($scope.descricao == undefined || $scope.descricao.length == 0) &&
                ($scope.valor == undefined || $scope.valor.length == 0) &&
                ($scope.devedorId == undefined || $scope.devedorId.length == 0) &&
                ($scope.credorId == undefined || $scope.credorId.length == 0)) {

                $scope.clear();
                $scope.mensagem = "Preencha todos os campos acima";
                return;
            }
            var data = {
                "id": id,
                "descricao": $scope.descricao,
                "valor": $scope.valor,
                "devedorId": $scope.devedorId,
                "credorId": $scope.credorId
            };
            var request = $http( {
                "method": "put",
                "url": "/debts/" + id,
                "data": data
            });
            request.success(function(reply) {
                $scope.mensagem = reply.result;
            });
            request.error(function(reply) {
                alert("Request Error");
            });
        }

        // REMOÇÃO
        $scope.remover = function(id) {
            console.log(id);
            if (id == undefined || id.length == 0) {
                $scope.clear();
                $scope.mensagem = "Id não existe";
                return;
            }
            var request = $http({
                "method": "delete",
                "url": "/debts/" + id
            });
            request.success(function(reply) {
                $scope.mensagem = reply.result;
            });
            request.error(function(reply) {
                alert("Request Error");
            });
        };

        //CLEAR
        $scope.clear = function() {
            $scope.debts = [];
            $scope.mensagem = "";
            $scope.hdescricao = $scope.hvalor = $scope.hcredorId = $scope.hdevedorId = "";
        }
    });
</script>

</body>
</html>