<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Josué</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div>
        <h1><b>Josué</b></h1><br/>
            <form>
                <button ng-click="viewNotifications()" class="btn btn-info">Ver notificações</button>&nbsp;&nbsp;
                <button ng-click="doLogout()" class="btn float-right">Logout</button>
                <button ng-click="doLogin()" class="btn  float-right">Login</button>
                <br><br>
            </form>
                <br/><h4>Criar ou editar dívida</h4><br/>
            <form>
                Descrição:  <input type="text" class="form-control" ng-model="descricao"><br><br>
                Valor (apenas inteiros):      <input type="text" class="form-control" ng-model="valor"><br><br>
                Devedor:    <input type="text" class="form-control" ng-model="devedorId"><br><br>
                Credor:     <input type="text" class="form-control" ng-model="credorId"><br><br>
            </form>
            <button ng-click="acessar()" class="btn btn-info">Buscar dívidas</button>
            <button ng-click="inserir()" class="btn btn-primary float-right">Inserir dívida</button>&nbsp;
            <br><br><h5><span class="label label-default">{{mensagem}}</span></h5>
             
        </div>
    <br><br>
    <div>
        <h4>{{debtListTitle}}</h4>
        <table class="table" cellspacing="8">
            <tr> 
                <th>{{hdescricao}}</th>
                <th>{{hvalor}}</th>
                <th>{{hdevedorId}}</th>
                <th>{{hcredorId}}</th>
                <th>{{hoption}}</th>
            </tr>
            <tr ng-repeat="debt in debts">
                <td>{{debt.descricao}}</td>
                <td>R${{debt.valor}},00</td>
                <td>{{debt.devedorId}}</td>
                <td>{{debt.credorId}}</td>
                <td>
                    <button ng-click="atualizar(debt)" class="btn btn-primary btn-sm">Editar</button> &nbsp;
                    <button ng-click="remover(debt._id)" class="btn btn-danger btn-sm">Remover</button> &nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {

        // LOGIN 
        $scope.doLogin = function() {
            window.open("/authentication", "_blank");
        }

        // LOGOUT
        $scope.doLogout = function() {
            $scope.clear();
            var request = $http({
                "method": "delete",
                "url": "/authentication"
            });

            request.success(function(reply) {
                $scope.mensagem = reply.resultado;
            });
        }

        //ACESSO
        $scope.acessar = function() {
            var url = "/debts";
            if ($scope.id != undefined) {
                url = "/debts/"+ $scope.id;
            }
            var request = $http({
                "method": "get",
                "url": url
            });
            request.then(function successCallback(reply) {
                if (reply.data.debts != null) {
                    $scope.debtListTitle = "Lista de dívidas";
                    $scope.hdescricao = "Descrição";
                    $scope.hvalor = "Valor";
                    $scope.hdevedorId = "Devedor";
                    $scope.hcredorId = "Credor";
                    $scope.hoption = "Opções";
                    $scope.mensagem = "";
                    $scope.debts = reply.data.debts
                } else {
                    $scope.clear();
                    $scope.mensagem = reply.data.result
                }
            }).catch(function errorCallback(reply) {
                alert("Request error");
            });
        };

        // INSERÇÃO
        $scope.inserir = function() {
            $scope.clear();
            if ($scope.valor == undefined || $scope.valor.length == 0 ||
                $scope.devedorId == undefined || $scope.devedorId.length == 0 ||
                $scope.credorId == undefined || $scope.credorId.length == 0) {

                $scope.clear();
                $scope.mensagem = "Preencha todos os campos acima.";
                return;        
            }

            var data = {
                "descricao": $scope.descricao,
                "valor": $scope.valor,
                "devedorId": $scope.devedorId,
                "credorId": $scope.credorId
            };
            console.log(data);
            var request = $http({
                "method": "post",
                "url": "/debts",
                "data": data
            });
            
            request.then(function successCallback(reply) {
                $scope.mensagem = reply.data.result;
            }).catch(function errorCallback(reply) {
                alert("Request error");
            });
        }

        // ATUALIZAÇÃO
        $scope.atualizar = function(debt) {
            $scope.clear();
            if (($scope.descricao == undefined || $scope.descricao.length == 0) && 
                ($scope.valor == undefined || $scope.valor.length == 0) &&
                ($scope.devedorId == undefined || $scope.devedorId.length == 0) &&
                ($scope.credorId == undefined || $scope.credorId.length == 0)) {

                $scope.clear();
                $scope.mensagem = "Um dos campos devem ser preenchidos";
                return;
            }
            
            var data = {
                "id": debt._id,
                "descricao": !$scope.descricao ? debt.descricao : $scope.descricao,
                "valor": !$scope.valor ? debt.valor : $scope.valor,
                "devedorId": !$scope.devedorId ? debt.devedorId : $scope.devedorId,
                "credorId": !$scope.credorId ? debt.credorId : $scope.credorId
            };
            var request = $http( {
                "method": "put",
                "url": "/debts/" + debt._id,
                "data": data
            });

            request.then(
                function success(reply) {
                    $scope.mensagem = reply.data.result;
                },
                function error(reply) {
                    alert("Request Error");
                }
            );
        }

        // REMOÇÃO
        $scope.remover = function(id) {
            $scope.clear();
            if (id == undefined || id.length == 0) {
                $scope.clear();
                $scope.mensagem = "Id não existe.";
                return;
            }
            var request = $http({
                "method": "delete",
                "url": "/debts/" + id
            });
            request.then(
                function success(reply) {
                    $scope.mensagem = reply.data.result;
                },
                function error(reply) {
                    alert("Request Error");
                }
            )
        };

        //CLEAR
        $scope.clear = function() {
            $scope.debts = [];
            $scope.mensagem = "";
            $scope.hdescricao = $scope.hvalor = $scope.hcredorId = $scope.hdevedorId = $scope.hoption = $scope.debtListTitle =  "";
        }
    });
</script>

</body>
</html>